image: quay.io/tike/alpine-oc-node

stages:
    - setup
    - test
    - dependency-track-sbom
    - dependency-track-submit
    - sonarqube-check
    - build
    - deploy

variables:
    PROJECT_NAME: "imitaatiopeli-frontend"
    PROJECT_VERSION: "1.0.0"
    npm_config_cache: '$CI_PROJECT_DIR/.npm'


.dependencies_cache:
    cache:
        key:
            files:
                - package-lock.json
        paths:
            - .npm
        policy: pull

setup:
    stage: setup
    tags:
        - ohtu-build-3
    script:
        - npm ci
    extends: .dependencies_cache
    cache:
        policy: pull-push
    artifacts:
        expire_in: 1h
        paths:
            - node_modules

test:
    stage: test
    image: node:22-alpine
    tags:
        - ohtu-build-3
    script:
        - npm run test:coverage
    extends: .dependencies_cache
    artifacts:
        name: coverage-test
        paths:
            - coverage/

build_stage_dev:
    stage: build
    image: node:22-alpine
    only:
        - main
    tags:
        - ohtu-build-3
    extends: .dependencies_cache
    script:
        - npm run build -- --mode development
        - CI=false NODE_ENV=production npm run build
    artifacts:
        name: imitaatiopeli-build
        paths:
            - dist
        expire_in: 1 hour

build_stage_test:
    stage: build
    image: node:22-alpine
    only:
        - test
    tags:
        - ohtu-build-3
    script:
        - npm ci --omit=dev
        - npm run build -- --mode test
        - CI=false NODE_ENV=production npm run build
    artifacts:
        name: imitaatiopeli-build
        paths:
            - build
        expire_in: 1 hour

build_stage-prod:
    stage: build
    image: node:22-alpine
    only:
        - prod
    tags:
        - ohtu-build-3
    script:
        - npm ci --omit=dev
        - npm run build -- --mode production
        - CI=false NODE_ENV=production npm run build
    artifacts:
        name: imitaatiopeli-build
        paths:
            - build
        expire_in: 1 hour


generate-sbom:
    stage: dependency-track-sbom
    image: node:22-alpine
    only:
        - schedules
    tags:
        - ohtu-build-3
    script:
        - npm ci
        - npx @cyclonedx/cyclonedx-npm --output-file sbom.xml
    artifacts:
        expire_in: 1h
        paths:
            - sbom.xml

submit-sbom:
    image: alpine:latest
    stage: dependency-track-submit
    only:
        - schedules
    tags:
        - ohtu-build-3
    dependencies:
        - generate-sbom
    before_script:
        - apk add --no-cache curl
    script:
        - "curl -X POST ${DTRACK_API_URL} -H 'Content-Type: multipart/form-data' -H 'X-Api-Key: '${DTRACK_API_KEY} -F 'projectName='${PROJECT_NAME} -F 'autoCreate=true' -F 'projectVersion='${PROJECT_VERSION} -F 'bom=@sbom.xml'"


sonarqube-check:
    stage: sonarqube-check
    tags:
        - ohtu-build-3
    image:
        name: sonarsource/sonar-scanner-cli:latest
        entrypoint: [ "" ]
    variables:
        SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
        GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
    cache:
        key: "${CI_JOB_NAME}"
        paths:
            - .sonar/cache
    script:
        - sonar-scanner
    allow_failure: true
    only:
        - main

deploy_dev:
    stage: deploy
    tags:
        - ohtu-build-3
    environment:
        name: development
    only:
        - main
    except:
        # Skip deploy when scheduled npm audit and outdated scans are executed.
        - schedules
    script:
        # set home path for openshift 1001 user
        - export HOME=/home/1001
        # before any action, I connect to the OpenShift server with the appropriate credentials
        - oc login https://$OPENSHIFT_ADDR_TEST:$OPENSHIFT_PORT --token=$OPENSHIFT_TOKEN_TEST
        - oc project imitaatiopeli
        # create application if it does not exist
        - |
            if oc get deploy/imitaatiopeli-frontend-dev; then 
              echo "The application already exists."
            else 
              oc new-app . --name=imitaatiopeli-frontend-dev --strategy=docker
              echo "The application has been created."
            fi
        # list environment variables here
        - oc set env deploy/imitaatiopeli-frontend-dev TZ="Europe/Helsinki"
        # start build process in OpenShift
        - oc start-build imitaatiopeli-frontend-dev --from-dir=. --follow
        # patch openshift buildConfig file
        - oc patch bc/imitaatiopeli-frontend-dev --patch '{"spec":{"successfulBuildsHistoryLimit":1}}'
        - oc patch bc/imitaatiopeli-frontend-dev --patch '{"spec":{"failedBuildsHistoryLimit":1}}'
