image: quay.io/tike/alpine-oc-node

stages:
    - test
    - build


variables:
    PROJECT_NAME: "imitaatiopeli-frontend"
    PROJECT_VERSION: "1.0.0"

test:
    stage: test
    image: node:22-alpine
    tags:
        - ohtu-build-4
    script:
        - npm ci
        - npm run test:coverage
    artifacts:
        name: coverage-test
        paths:
            - coverage/

build_stage_dev:
    stage: build
    image: node:22-alpine
    only:
        - main
    tags:
        - ohtu-build-4
    script:
        - npm ci --omit=dev
        - npm run build -- --mode development
        - CI=false NODE_ENV=production npm run build
    artifacts:
        name: imitaatiopeli-build
        paths:
            - dist
        expire_in: 1 hour

build_stage_test:
    stage: build
    image: node:22-alpine
    only:
        - test
    tags:
        - ohtu-build-4
    script:
        - npm ci --omit=dev
        - yes | cp -f -v .env.test .env.production || true
        - CI=false NODE_ENV=production npm run build
    artifacts:
        name: imitaatiopeli-build
        paths:
            - build
        expire_in: 1 hour

build_stage-prod:
    stage: build
    image: node:22-alpine
    only:
        - prod
    tags:
        - ohtu-build-4
    script:
        - npm ci --omit=dev
        - CI=false NODE_ENV=production npm run build
    artifacts:
        name: imitaatiopeli-build
        paths:
            - build
        expire_in: 1 hour


