.final-review {
  margin: var(--ds-spacing-layout-base);
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-layout-base);
}

.final-review-message-reviews {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-layout-base);
}

.final-review-instructions {
  scroll-snap-align: start;
}

.final-review-message-reviews h3 {
  font-size: 1.2rem;
  font-weight: 600;
  scroll-snap-align: start;
}

.final-review-final-review-form {
  scroll-snap-align: start;
}

.final-review::after {
  display: inline;
  content: "";
  scroll-snap-align: start;
}