.messenger-message-field {
  display: flex;
  padding: var(--ds-spacing-2xSmall);

  position: relative;
  max-width: 100%;
}

.messenger-message-field form {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  gap: var(--ds-spacing-2xSmall);
  margin-right: var(--ds-spacing-2xSmall);
  justify-content: center;
}

.messenger-message-field textarea {
  resize: none;
  flex-grow: 1;
}

.messenger-message-field-announcement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100%;
  overflow-y: auto;
}

.messenger-message-field-character-count {
    margin-top: var(--ds-spacing-2xSmall);
}