.messenger-message {
  border-radius: var(--ds-spacing-3xSmall);
  border: 1px solid var(--ds-bgColor-black);
  padding: var(--ds-spacing-base);
}

.messenger-message-instructions {
  border: 2px dashed var(--ds-bgColor-black);
}