.messenger-message {
  border-radius: var(--ds-spacing-3xSmall);
  padding: var(--ds-spacing-base);
}

.messenger-message-instructions {
  border: 2px dashed var(--ds-bgColor-black);
}

.rating-message {
  display: flex;
  gap: var(--ds-spacing-base);
}
