.messenger {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messenger > .messenger-message-area {
  flex: 1 1 0;
  overflow-y: scroll;
  scrollbar-width: thin;
}

@media (max-width: 30rem) {
  .messenger > .messenger-message-area {
    flex-basis: content;
  }
}