.messenger-message {
  border-radius: var(--ds-spacing-3xSmall);
  padding: var(--ds-spacing-base);
  word-break: normal;
  hyphens: none;
  overflow-wrap: normal;
}

.messenger-message-instructions {
  border: 2px dashed var(--ds-bgColor-black);
}

.rating-message {
  display: flex;
  gap: var(--ds-spacing-base);
  word-break: normal;
  hyphens: none;
}

.rating-message-question {
    background-color: var(--ds-bgColor-white);
    border: 2px solid var(--ds-borderColor-primary);
    border-radius: var(--ds-spacing-3xSmall);
    padding: var(--ds-spacing-small);
}
