.rating-form {
  display: flex;
  flex-direction: column;
  padding: var(--ds-spacing-base);
  gap: var(--ds-spacing-2xSmall);
  list-style: none;
  margin: unset;
}

.rating-form-heading {
  padding: var(--ds-spacing-2xSmall);
}

.rating-form-answers {
  padding: var(--ds-spacing-2xSmall);
}

.rating-form-form ds-button {
  padding: var(--ds-spacing-2xSmall);
}

.rating-form-justifications {
  display: flex;
  flex-direction: column;
  padding: var(--ds-spacing-2xSmall);
}

.rating-form-justifications-character-count {
  margin-top: var(--ds-spacing-2xSmall);
}

.rating-form-confidence {
  display: flex;
  flex-direction: column;
  padding: var(--ds-spacing-2xSmall);
}

.rating-form-confidence datalist {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.rating-form-confidence datalist option {
  flex-basis: 25%;
  max-width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.confidence-values-oddd::after {
  display: inline-block;
  content: "";
  width: 33%;
}

.confidence-values-oddd {
  text-align: center;
  flex-basis: 66%;
}

.confidence-values-evenn::before {
  display: inline-block;
  content: "";
  width: 33%;
}

.confidence-values-evenn {
  text-align: center;
}

.confidence-values-last {
  text-align: end;
}
