.error-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  color: var(--ds-textColor-danger);
}

.error-page * {
  word-break: break-all;
}

.error-page ds-icon {
  margin: var(--ds-spacing-2xSmall);
}