.error-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;

  color: var(--ds-textColor-danger);
}

.error-page * {
  word-break: break-all;
}

.error-page ds-icon {
  margin: var(--ds-spacing-4xSmall);
}