.header {
  margin-top: var(--ds-spacing-layout-base);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  max-width: 100dvw;

}

.header-left {
  display: flex;
  justify-content: start;

  flex-grow: 1;
}

.header-right {
  display: flex;
  justify-content: end;

  flex-grow: 1;
}

.header-bottom-border {
  background-color: var(--ds-borderColor-light);
  height: 1px;

  margin: calc(var(--ds-spacing-layout-base) / 2);
  margin-bottom: unset;
}