.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  word-break: break-all;

  --logo-size: 2rem;
  font-size: var(--logo-size);

}

.logo-text {
  flex-grow: 1;

  font-size: var(--logo-size);
  margin: unset;
}

.logo svg {
  margin: var(--ds-spacing-2xSmall);
}