
.game-lobby-page-instructions {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    /*font-weight: bolder;*/
    margin-bottom: var(--ds-spacing-base);
}

.game-lobby-font-size {
    font-size: var(--ds-fontSize-18);
    font-weight: bold;
}