.game-lobby-page-instructions {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    /*font-weight: bolder;*/
    margin-bottom: var(--ds-spacing-base);
}

.game-lobby-font-size {
    font-size: var(--ds-fontSize-18);
    font-weight: bold;
}

.game-lobby-double-rule {
    border: 0;
    height: 0; /* ensures only the borders show */
    border-top: 1px solid var(--ds-border-color, #D0D5DD);
    border-bottom: 1px solid var(--ds-border-color, #D0D5DD);
    margin-bottom: 1rem; /* adjust spacing as needed */
}

.page-heading {
    margin-bottom: 0;
}