.page {
  display: flex;
  flex-direction: column;
  word-break: break-word;

  min-width: 100%;
}

.page-navigation {
  margin-left: 8px;
  margin-right: 8px;
}

.navigation-divider::after {
  display: block;
  content: "";
  height: 1px;
  background-color: var(--ds-borderColor-light);
  margin-bottom: 0 0 var(--ds-spacing-base) 0;
}

.page-heading {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: var(--ds-spacing-layout-base);
  margin-bottom: var(--ds-spacing-layout-base);

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.page-heading h2 {
  flex-grow: 1;
}

.page-heading .page-heading-extras {
  flex-shrink: 1;
}

.page-content {
  height: 100%;

  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 50rem) {
  .page-heading {
    margin-left: var(--ds-spacing-layout-base);
    margin-right: var(--ds-spacing-layout-base);
    flex-direction: column;
    align-items: flex-start;
  }

  .page-content {
    margin-left: var(--ds-spacing-layout-base);
    margin-right: var(--ds-spacing-layout-base);
  }

  .page-heading h2 {
    width: 100%;
    margin-bottom: var(--ds-spacing-base);
  }

  .page-heading .page-heading-extras {
    width: 100%;
  }
}