.page {
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.page-navigation {
  margin-left: 8px;
  margin-right: 8px;
}

.navigation-divider::after {
  display: block;
  content: "";
  height: 1px;
  background-color: var(--ds-borderColor-light);
  margin-bottom: 0 0 var(--ds-spacing-base) 0;
}

.page-heading {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: var(--ds-spacing-layout-base);
  margin-bottom: var(--ds-spacing-layout-base);
}

.page-content {
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 50rem) {
  .page-heading {
    margin-left: var(--ds-spacing-layout-base);
    margin-right: var(--ds-spacing-layout-base);
  }

  .page-content {
    margin-left: var(--ds-spacing-layout-base);
    margin-right: var(--ds-spacing-layout-base);
  }
}