.game-form {
  max-width: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: var(--ds-spacing-small);
}

.game-form-instructions-field {
    background-color: #007bff;
}

.form-field-text-field {
  display: flex;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bolder;
  margin-bottom: var(--ds-spacing-base);
}

.temperature-label {
  margin-left: 8px;
  font-size: 0.9em;
  color: #666;
}

.temperature-slider {
  width: 50%;
  margin-top: 8px;
}

.temperature-slider-labels {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #666;
  margin-top: 4px;
}
