.game-form {
  max-width: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: var(--ds-spacing-small);
}

.form-field-text-field {
  display: flex;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bolder;
  margin-bottom: var(--ds-spacing-base);
}