@import '@uh-design-system/component-library/dist/styles/variables.css';

:root {
  --ds-textColor-default: var(--ds-palette-black-95);
  --ds-textColor-secondary: var(--ds-palette-black-70);
  --ds-textColor-disabled-onLight: var(--ds-overlay-black-40);
  --ds-textColor-white: var(--ds-palette-white);
  --ds-textColor-disabled-onDark: var(--ds-overlay-white-40);

  --ds-textColor-primary: var(--ds-palette-mainBlue-70);
  --ds-textColor-link: var(--ds-palette-mainBlue-70);
  --ds-textColor-hover: var(--ds-palette-mainBlue-80);
  --ds-textColor-active: var(--ds-palette-mainBlue-90);
  --ds-textColor-link-visited: #551a8b;
  --ds-textColor-attention: var(--ds-palette-yellow-70);
  --ds-textColor-danger: var(--ds-palette-red-70);
  --ds-textColor-info: var(--ds-palette-blue-70);
  --ds-textColor-success: var(--ds-palette-green-70);

  --ds-bgColor-white: var(--ds-palette-white);
  --ds-bgColor-white-hover: var(--ds-palette-black-10);
  --ds-bgColor-white-active: var(--ds-palette-black-20);

  --ds-bgColor-black: var(--ds-palette-black-95);
  --ds-bgColor-black-hover: var(--ds-palette-black-80);
  --ds-bgColor-black-active: var(--ds-palette-black-70);

  --ds-bgColor-primary: var(--ds-palette-mainBlue-70);
  --ds-bgColor-primary-hover: var(--ds-palette-mainBlue-80);
  --ds-bgColor-primary-active: var(--ds-palette-mainBlue-90);

  --ds-bgColor-secondary: var(--ds-overlay-black-00);
  --ds-bgColor-secondary-hover: var(--ds-palette-mainBlue-05);
  --ds-bgColor-secondary-active: var(--ds-palette-mainBlue-10);

  --ds-bgColor-attention: var(--ds-palette-yellow-05);
  --ds-bgColor-attention-hover: var(--ds-palette-yellow-10);
  --ds-bgColor-attention-active: var(--ds-palette-yellow-20);

  --ds-bgColor-danger: var(--ds-palette-red-05);
  --ds-bgColor-danger-hover: var(--ds-palette-red-10);
  --ds-bgColor-danger-active: var(--ds-palette-red-20);

  --ds-bgColor-success: var(--ds-palette-green-05);
  --ds-bgColor-success-hover: var(--ds-palette-green-10);
  --ds-bgColor-success-active: var(--ds-palette-green-20);

  --ds-bgColor-info: var(--ds-palette-blue-05);
  --ds-bgColor-info-hover: var(--ds-palette-blue-10);
  --ds-bgColor-info-active: var(--ds-palette-blue-20);

  --ds-bgColor-neutralLight: var(--ds-palette-black-03);
  --ds-bgColor-neutralLight-hover: var(--ds-palette-black-05);
  --ds-bgColor-neutralLight-active: var(--ds-palette-black-10);

  --ds-bgColor-neutral: var(--ds-palette-black-05);
  --ds-bgColor-neutral-hover: var(--ds-palette-black-10);
  --ds-bgColor-neutral-active: var(--ds-palette-black-20);

  --ds-bgColor-disabled-onDark: var(--ds-overlay-white-10);
  --ds-bgColor-disabled-onLight: var(--ds-overlay-black-10);

  --ds-bgColor-transparent-onLight: var(--ds-overlay-black-00);
  --ds-bgColor-transparent-onLight-hover: var(--ds-overlay-black-10);
  --ds-bgColor-transparent-onLight-active: var(--ds-overlay-black-15);

  --ds-bgColor-transparent-onDark: var(--ds-overlay-white-00);
  --ds-bgColor-transparent-onDark-hover: var(--ds-overlay-white-30);
  --ds-bgColor-transparent-onDark-active: var(--ds-overlay-white-40);

  --ds-bgColor-transparent-onDark: var(--ds-overlay-white-00);
  --ds-bgColor-transparent-onDark-hover: var(--ds-overlay-white-30);
  --ds-bgColor-transparent-onDark-active: var(--ds-overlay-white-40);

  --ds-borderColor-default: var(--ds-palette-black-50);
  --ds-borderColor-light: var(--ds-palette-black-20);
  --ds-borderColor-black: var(--ds-palette-black-95);
  --ds-borderColor-white: var(--ds-palette-white);
  --ds-borderColor-attention: var(--ds-palette-yellow-50);
  --ds-borderColor-danger: var(--ds-palette-red-50);
  --ds-borderColor-info: var(--ds-palette-blue-50);
  --ds-borderColor-primary: var(--ds-palette-mainBlue-70);
  --ds-borderColor-success: var(--ds-palette-green-50);
  --ds-borderColor-transparent: var(--ds-overlay-black-00);
  --ds-borderColor-disabled-onLight: var(--ds-overlay-black-15);
  --ds-borderColor-disabled-onDark: var(--ds-overlay-white-15);

  font-family: var(--ds-fontFamily-body);

  --ds-default-fontSize: var(--ds-fontSize-16);

  font-size: var(--ds-default-fontSize);

  --ds-spacing-base: calc(1rem / 2);

  --ds-spacing-layout-base: 1rem;

}

.small-margin {
  margin: var(--ds-spacing-4xSmall);
}

.medium-margin {
  margin:  var(--ds-spacing-medium);
}

.margin {
  margin: var(--ds-spacing-2xSmall);
}

.screenreader-only {
  display: inline-block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.horizontal-divider {
  height: 1px;
  margin: var(--ds-spacing-layout-base);
  padding: 0px var(--ds-spacing-layout-base);
  background-color: var(--ds-borderColor-light);
}

.hidden {
  display: none !important;
}
