.imitation-game {
  display: flex;
  flex-direction: column;
}

.imitation-game > div:first-of-type {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  margin-left: var(--ds-spacing-layout-base);
  margin-right: var(--ds-spacing-layout-base);

  padding-bottom: var(--ds-spacing-layout-base);
}

.main-content {
  flex-grow: 1;
  display: flex;
}

.notification-area-container {
    position: fixed;
    max-width: fit-content;
    bottom: 2dvh;
    left: var(--ds-spacing-layout-base);
    z-index: 1;

    word-break: break-all;
}